@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: local('../fonts/Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: local('../fonts/Segoe UI'), local('SegoeUI'),
		url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: local('../fonts/Segoe UI Bold'), local('SegoeUI-Bold'),
		url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
label {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

%smooth {
  transition: all 400ms ease-in-out;
}

html {
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body {
  font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
  color: #000;
  line-height: 1.2;
  display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
  background:#fff;
  font-weight: normal;
}
header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
main {
	flex-grow: 1;
	box-sizing: border-box;
}
footer {
	box-sizing: border-box;
}
p {
  margin: 0 0 20px;
	font-size: 1em;
}
a {
	font-size: 1em;
  @extend %smooth;
}
a:hover {
  @extend %smooth;
}
ol {
	font-size: 1em;
	padding:0;
	margin:0;
}
ul {
	font-size: 1em;
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6  { 
	color: #000000;
	line-height: 1.2;
	padding: 0; 
	margin:0 0 30px 0; 
	text-align: left;
  font-weight: 600;
  position: relative;
}
h1 { font-size:2em; }
h2 { font-size:1.8em; }
h3 { font-size:1.2em; }
h4 { font-size:1.1em; }
h5 { font-size:1.1em; }
h6 { font-size:1.1em; }
::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}
:-moz-placeholder           {color:#000;}
:-ms-input-placeholder      {color:#000;}
a:focus {
  outline: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow:none;
}
button:focus {
  outline: none;
}
p {
  font-size: 1em;
  line-height: 1.2;
}
.indent-block {
  &__full {
    margin:60px 0;
  }
  &__top {
    margin:60px 0 0 0;
  }
  &__bottom {
    margin: 0 0 60px 0;
  }
}
.flex {
  display: flex;
  &-vertically {
    &__center {
      align-items:center;
    }   
    &__bottom {
      align-items:flex-end;
    } 
    &__top {
      align-items:flex-start;
    }
  }
  &-horizontally {
    &__center {
      justify-content: center; 
    }
    &__full {
      justify-content: space-between;
    }
    &__end {
      justify-content: flex-end;
    }
  }
}
.button {
  padding: 11px 30px 13px;
  border-radius:6px;
  font-size: 14px; 
  @extend %smooth;
  font-weight: 600;
  &:hover {
    @extend %smooth;
  }
  &-orange {
    color:#ffff;
    border:1px solid #F07E00;
    background:#F07E00;
    &:hover {
      background:#F07E00;
      color:#ffff;
      border:1px solid #F07E00;
      box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
    }
  }
  &-white {
    border: 1px solid #F07E00;
    color: #000000;
    background: #fff;
    &:hover {
      box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
      color:#000000;
      border:1px solid #F07E00;
    }
  }
}

.header {
  &-top {
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    padding: 15px 0;
    p {
      font-weight: 600;
      margin: 0;
    }
    svg {
      margin: 0 10px 0 0;
    }
    &__right {
      &_item {
        margin: 0 0 0 30px;
        a.phone {
          color:#000000;
          font-weight: 600;
          text-decoration: none;
          &:hover {
            color:#F07E00;
            text-decoration: none;
          }
        }
        a.callback {
          color:#000000;
          text-decoration: none;
          &:hover {
            color:#F07E00;
            text-decoration: none;
          }
        }
        a.personal-area {
          color:#000000;
          font-weight: 600;
          text-decoration: none;
          &:hover {
            color:#F07E00;
            text-decoration: none;
          }
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    padding: 20px 0;
    &__menu {
      margin: 0 0 0 30px;
    }
  }  
}

.catalog-menu {
  &__item {
    display: block;
    margin: 0 0 0 30px;
  }
  &__link {
    font-weight: 600;
    color:#000;
    text-decoration: none;
    font-size: 1em;
    &:hover {
      color:#E4002B;
      text-decoration: none;
    }
  }
}

.banner {
  background: #F4F6F8;
  border-radius: 10px;
  &-text {
    max-width: 450px;
    margin: 0 -100px 0 0;
    p {
      font-size: 1em;
      line-height: 1.4;
      color:#000000;
      margin: 0 0 30px 0;
      max-width: 350px;
    }
    p.caption {
      margin: 0 0 15px 0;
      max-width: 100%;
      font-size: 2.6em;
      line-height: 1.2;
    }
  }
  &-image {
    position: relative;
    &__block {
      position: absolute;
      bottom:60px;
      left: 0;
      width: 175px;
      background: #fff;
      box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
      border-radius: 10px 0 10px 10px;
      padding: 20px 25px;
      z-index: 1;
      .image {
        width: 24px;
        height: 24px;
        background: #F00600;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 0;
      }
      .text {
        p {
          font-size: 1em;
          color:#959595;
          margin: 3px 0 5px 0;
          font-weight: 600;
        }
        strong {
          color:#000000;
          display: block;
          font-weight: bold;
        }
      }
    }
  }
}

.rates {
  &-switches {
    margin: 0 0 20px 0;
    &__item {
      margin: 0 20px 0 0;
      background: #FFEFDC;
      padding: 5px;
      border-radius: 6px;
      &_text {
        padding: 11px 15px;
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;  
        color:#B88247;      
      }
      &_text.active {
        color:#000;
        background: #fff;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
      }
    }
  }
  &-block {
    display: block;
    padding: 30px 50px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.15);
    border-radius: 10px;
    @extend %smooth;
    text-decoration: none;
    p {
      font-size: 1em;
      line-height: 1.4;
      @extend %smooth;
      color:#959595;
      margin: 0 0 15px 0;
    }
    p.caption {
      color:#000000;
      font-size: 1.6em;
      font-weight: bold;
      @extend %smooth;
    }
    p.price {
      padding: 0 0 15px 0;
      border-bottom: 1px solid #EBEBEB;
      color:#000000;
      @extend %smooth;
      strong {
        font-size: 1.8em;
        font-weight: bold;
        display: inline-block;
        margin: 0 5px 0 0;
      }
    }
    .values  {
      margin: 0 0 20px 0;
      display: flex;
      .icon {
        margin: 0 20px 0 0;
        svg {
          path {
            fill:#000000;
            @extend %smooth;
          }
        }
      }
      .text {
        strong {
          color:#959595;
          display: block;
          margin: 0 0 5px 0;
          font-weight: normal;
          @extend %smooth;
        }
        p {
          font-size: 1em;
          line-height: 1.4;
          color:#000000;
          font-weight: 600;
          margin: 0;
          @extend %smooth;
        }
      }
    }
    .button {
      width: 100%;
      @extend %smooth;
      margin: 0;
    }
    &:hover {
      background: #F07E00;
      @extend %smooth;
      p {
        @extend %smooth;
        color: #fff;
      }
      p.caption {
        color:#fff;
        @extend %smooth;
      }
      p.price {
        border-color:#F8B468;
        @extend %smooth;
      }
      .values  {
       .icon {
          svg {
            path {
              fill:#fff;
              @extend %smooth;
            }
          }
        }
        .text {
          strong {
            color:#fff;
            @extend %smooth;
          }
          p {
            color:#fff;
            @extend %smooth;
          }
        }
      }
      .button {
        color:#000000;
        @extend %smooth;
      }
    }
  }
}

.nav-tabs {
  border-bottom: 0px;
}

.hidden-block {
  display: none !important;
}

.show-block {
  display: block !important;
}

.odds-block  {
  background: #F4F6F8;
  padding: 60px 0;
  &__item {
    padding: 40px 35px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    p {
      font-size: 13px;
      line-height: 1.4;
      color:#959595;
      margin: 0;
    }
    strong {
      color:#000000;
      font-weight: 600;
      font-size: 1.4em;
      line-height: 1.4;
      display: block;
      margin: 20px 0 10px;
    }
  }
}

.container-grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "item-1 item-1 item-1 item-3 item-3 item-3 item-4 item-4"
    "item-2 item-2 item-2 item-3 item-3 item-3 item-5 item-5";
}

.item-1 { grid-area: item-1; }

.item-3 { grid-area: item-3; }

.item-2 { grid-area: item-2; }

.item-4 { grid-area: item-4; }

.item-5 { grid-area: item-5; }

.form-block {
  border:1xp solid #EBEBEB;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.15);
  border-radius: 20px;
  &__image {
    margin: -30px 0 0 0;
  }
  &__text {
    padding: 50px;
    h2 {
      margin: 0 0 15px 0;
    }
    p {
      color: #959595;
      font-size: 1em;
      line-height: 1.4;
      margin: 0 0 25px 0;
    }
    form {
      display: flex;
      align-items: center;
    }
    .form-control {
      margin: 0 30px 0 0;
    }
  }
}
.form-control {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #D5D5D5;
  max-width: 290px;
  color:#000000;
  font-size: 1em;
  line-height: 1.4;
  padding: 10px 0;
  border-radius: 0;
  &:focus {
    border:0;
    border-bottom: 1px solid #D5D5D5;
    box-shadow: none;
  }
}

.equipment-slider {
  margin: 15px 0 0;
  .swiper-slide {
    @extend %smooth;
    padding: 25px;
    box-shadow: 0px 7px 15px rgba(0,0,0,0.1);
    margin: 15px 0 30px 0;
    &:hover {
      @extend %smooth;
      box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    }
    .image {
      max-height: 160px;
      min-height: 160px;
      text-align: center;
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 160px;
        max-width: 100%;
        display: inline-block;
      }
    }
    .text {
      p {
        font-size: 14px;
        line-height: 19px;
        color:#959595;
        margin: 0 0 10px 0;
      }
      p.values {
        color:#000000;
        margin: 10px 0;
        strong {
          font-weight: 600;
        }
      }
      p.price {
        font-weight: 600;
        margin: 15px 0 5px 0;
        color:#000;
        strong {
          font-size: 2em;
        }
      }
      p.rent {
        font-weight: 600;
        margin: 0 0 20px 0;
        color:#000;
        display: flex;
        align-items: center;
        svg {
          margin: 0 0 0 10px;
        }
      }
      a.link {
        font-size: 18px;
        line-height: 24px;
        color:#000000;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color:#F07E00;
          text-decoration: none;
        }
      }
      .button {
        width: 100%;
        &:hover {
          background: #F07E00;
          color:#fff;
          box-shadow: none;
        }
      }
    }
  }
}









@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}